[data-theme~="light"] {
    --background-color1: #88BDBC;
    --background-color2: #6af3ea;
    --color1: #254E58;
    --color2: #112d32;
    --color3: #4f4a41;
    --color4: #6e6658;
  }
  
  [data-theme~="dark"] {
    --background-color1: #0b2d31; 
    --background-color2: #164a4e; 
    --color1: #88BDB6;            
    --color2: #b8cccc;
    --color3: #88bdbc;           
    --color4: #536b6b;
  }
  

* {
    overflow-wrap:break-word;
}

html {
    background-color: var(--background-color1);
    background-image: linear-gradient(135deg, var(--background-color1) 40%, var(--background-color2) 100%);
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    max-width: 64rem;
    margin: 0 auto;
    color: var(--color2)
}

h1 {
    color:var(--color1);
    font-family: "Winky Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(2rem, 2.5vw, 3rem);
}

h2 {
    color:var(--color1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2)
}

svg {
    max-width: 100%;
}
svg text {
    fill: var(--color1);
    stroke: var(--color2);
    transition: transform 0.3s ease;
}
svg text:hover {
    transform: scale(1.05);
}

ul li ul li::marker {
    content:"> ";
    color:teal;
}

.no-marker {
    list-style: none;
}

img {
    width: 100%;
    max-width: 64rem;
}

button {
    float:right;
    margin-top: 10px;
    background-color: var(--background-color1);
    padding: 5px 3px;
    color: var(--color1);
    transition: transform 0.3s ease;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}
button:hover {
    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    border-left: 1px solid;
    border-top: 1px solid;
    margin: 10px;
}

.grid div {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 1px;
}

.shorter {
    display: none;
}
.long + .short {
    display: none;
}

.header-quarter {
    font-weight: bold;
}
.header-courses {
    font-weight: bold;
    grid-column: 2 / span 4;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

label {
    display:block;
    margin-bottom: 2px;
}

input {
    display:block;
    border: 2px solid var(--color1);
    margin-bottom: 6px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rating-input {
    display:inline;
}

textarea {
    border: 2px solid var(--color1);
    margin-bottom: 6px;
}

[type|="submit"] {
    padding-top: 3px;
    border: 2px solid var(--background-color1);
    width: 70px;
    height: 25px;
    cursor: pointer;
}

a:hover {
    color: var(--color3);
    background-color: rgba(136,189,188,0.5);
}
a:visited {
    color: var(--color3);

}


@media screen and (max-width: 1024px) {
    body {
        margin: 0px 10px;
    }

    .long {
        display: none;
    }
    .long + .short {
        display: block;
    }
}
@media screen and (max-width: 320px) {
    .shorter {
        display: block;
    }
    .short {
        display: none;
    }
    .long + .short {
        display: none;
    }
    .grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        margin: 0;
    }
}